/* Styles for the main container */
.container {
    max-width: 900px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 40px; /* Padding inside the container */
    margin-top: 10%; /* Top margin of 10% */
    font-family: "Trirong", serif;
}

/* Styles for form groups */
.form-group {
    margin-bottom: 20px; /* Bottom margin for spacing between form groups */
}

/* Styles for form group labels */
.form-group label {
    display: block; /* Make labels display as block elements */
    margin-bottom: 5px; /* Bottom margin for spacing below labels */
    font-weight: bold; /* Bold text for labels */
}

/* Styles for form controls */
.form-control {
    width: 40%; /* Width of form controls */
    padding: 8px; /* Padding inside form controls */
    font-size: 16px; /* Font size of form controls */
    border: 1px solid #ccc; /* Border around form controls */
    border-radius: 4px; /* Border radius for rounded corners */
    font-family: "Trirong", serif;
}

/* Styles for button groups */
.btn-group {
    margin-top: .0001px; /* Top margin for spacing above button groups */
    margin-bottom: 20px; /* Bottom margin for spacing below button groups */
}

/* Styles for buttons */
.btn {
    padding: 10px 20px; /* Padding inside buttons */
    font-size: 16px; /* Font size of buttons */
    border: none; /* No border for buttons */
    border-radius: 4px; /* Border radius for rounded corners on buttons */
    cursor: pointer; /* Cursor style on hover for buttons */
}

/* Styles for primary buttons */
.btn-primary {
    background-color:  #28348A; /* Background color for primary buttons */
    color: #fff; /* Text color for primary buttons */
    font-family: "Trirong", serif;
}

/* Styles for danger (red) buttons */
.btn-danger {
    background-color: #DE5018; /* Set background color for danger button */
    color: #fff; /* Text color for danger buttons */
    font-family: "Trirong", serif;
}
.btn-primary:hover {
    background-color: rgb(102, 106, 139);/* Hover effect */
    color: white; /* Hover effect */
    font-family: "Trirong", serif;
}
.btn-danger:hover {
    background-color: #db9376;/* Hover effect */
    color: white; /* Hover effect */
    font-family: "Trirong", serif;
}

a{
    text-decoration: none;
}